body {
    background-color: #9d91ff;
    font-family:Verdana, sans-serif;
}

.main {
    background-color: #fff;
    width: 540px;
    padding: 10px;
    margin: 100px auto 20px;
    border-radius: 10px;
    
}

.ghost {
    display: block;
    width: 300px;
    height: 300px;
    margin: 100px auto 20px;
    border-radius: 200px;
}

.typerow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:#9e91ff79;
    border-radius: 60px;
    padding-left: 20px;
    height: 30px;
    
}

input {
    background-color: #ffffff00;
    border: none;
    outline: none;
}

button {
    border: none;
    background-color: #9e91ffd5;
    border-radius: 60px;
    width: 70px;
    height: 30px;
    font-size: x-large;
}

button:hover {
    background-color: #7766fdd5;
}

ul li {
    list-style: none;
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    font-size: 18px;
    transition: 0.2s;
}

ul li.done {
    text-decoration: line-through;
    color: #555;
}

ul li.done::before {
    content: '';
    position: absolute;
    border-color: #9e91ffd5;
    border-style: solid;
    border-width: 0 4px 4px 0;
    top: 10px;
    left: 0px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    padding: 12px 16px 12px 16px;
    width: 40px;
    height: 25px;
    text-align: center;
    border-radius: 20px;
}

ul li span:hover {
    background-color: #edeef0;
}

